<div class='ui-g'>
  <div class='ui-g-6'>
    <!-- <mig-formbuilder *ngIf='loaded' [jsonData]='jsonData' [form]='UnderwritingFormGroup'></mig-formbuilder> -->
    <app-uwquestions *ngIf='loaded' [qaData]='qaData' [form]='UnderwritingFormGroup'></app-uwquestions>
  </div>
  <div class='ui-g-6'>


  </div>
</div>
<div class='ui-g'>
  <div class='ui-g-12'>
      <!-- <pre>
          {{qaData | json}}
      </pre> -->
    <!-- <button (click)='showData()'>Valid / Invalid ?</button>
    {{status}} -->
  </div>
</div> 
 