<div [formGroup]='form' style='width: 100%;'>
  <div class='ui-g' *ngFor='let item of jsonData;' style='float: left; clear: both;'>

    <div class='ui-g-12 ui-sm-12'>
      <span *ngIf='item.type == "input"' class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText formControlName='{{item.field}}'>
        <label for="float-input">{{item.question}}</label>
      </span>
    </div>
   
    <div >
      <span *ngIf='item.type == "check"'>
        <p-checkbox name="{{item.field}}" [binary]='true' formControlName="{{item.field}}"></p-checkbox>
        <label for="{{item.field}}">{{item.question}}</label>
      </span>
    </div>
   
    <div >
      <span *ngIf='item.type == "radio"'>
			<label for="{{item.field}}">{{item.question}}</label><br>
		    <p-radioButton name="{{item.field}}" value="1" formControlName="{{item.field}}" label='Yes'></p-radioButton>
        <p-radioButton name="{{item.field}}" value="0" formControlName="{{item.field}}" label='No'></p-radioButton>
        
      </span>
    </div>

    <!-- Subform element -->
    <div class='ui-g-12 ui-sm-12' *ngIf='item.subquestion && item.value'>
      <div *ngFor='let sub of item.subquestion;'>
        <div class='ui-g'>
          <div class='ui-g-1'></div>
          <div class='ui-g-11'>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText formControlName='{{sub.field}}'>
              <label for="float-input">{{sub.question}}</label>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- end subform element -->
  </div>
</div>
