
p {
    /* color: red; */
    /* This is a single-line comment */
    /* text-align: center; */
}

.center {
    text-align: center;
    color: red;
}

.subQuesHideSpaces{
    display: none;
}
.subQuesShow{
    display: block;
}

.defaultInput
    {
     width: 100px;
     height:25px;
     padding: 5px;
    }

.error
{
 border:1px solid red;
}

/* input:invalid {
    background-color: #ffdddd;
  }
  
form:invalid {
    border: 5px solid #ffdddd;
  } */